//colores de la pagina
$fondo: #ffff;
$fondoHero: #482759;
$fondoSecciones: #000000;
$fondoPie: #1800ad;
$fondoBtns: #c1ff72;



//medidas para media query
$telefono: 390px;
$tablet: 768px;
$escritorio: 1200px;
