@use 'base/variables' as v;
@use 'base/mixins' as m;
.ofertas{
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(72, 39, 89, 1) 100%);
    margin: 2rem;
    .ofertas-inicio{
        text-align: center;
        padding-top: 1rem;
        
    }
    .muestrario{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            @include m.telefono{
                @include m.grid(1);
            }
            @include m.tablet{
                @include m.grid(2);
            }

            .contenedor{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: auto;
                margin: 1rem;
                border: 1px solid;
                border-color: transparent;
                border-radius: 12px;
                box-shadow: 5px 5px 15px;
                
                overflow: hidden;
                z-index: 100;
                &::before{
                    content: "";
                    position: absolute;
                    width: 400px;
                    height:500px;
                    background-image: conic-gradient(v.$fondoBtns 20deg, transparent 120deg);
                    animation: rotar 3s linear infinite;
                    z-index: -1;
                }
                @keyframes rotar{
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(-360deg);
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 98%;
                    height: 99%;
                    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(72, 39, 89, 1) 100%);
                    border-radius: 12px;
                    z-index: -1;

                }
                
                .cont-img{
                    width: 92%;
                    height: 65%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .info-descuento{
                    text-align: center;
                    .cont-parrafos{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 3rem;
                        .precio-antiguo{
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
}