@use 'base/variables' as v;

.footer {
  background: v.$fondoPie;
  color: v.$colorEnlaces;
  font-family: v.$fuentePrincipal;
  padding: 2rem 4rem;

  /* TOP con logo + redes */
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .footer-logo {
      font-size: 1.3rem;
      font-weight: bold;
      color: v.$colorEnlaces;
    }

    .social-icons {
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        img {
          width: 20px;
          height: 20px;
          filter: grayscale(100%) brightness(200%);
        }

        &:hover img {
          filter: none;
        }
      }
    }
  }

  /* Columnas */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    .footer-column {
      flex: 1 1 180px;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: v.$fondoBtns;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.4rem;
          font-size: 0.95rem;
          cursor: pointer;

          &:hover {
            color: v.$fondoBtns;
          }
        }
      }
    }
  }

  .customer-service {
    flex: 1 1 180px;
  }

  /* Línea separadora */
  .linea-separadora {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2rem 0;
  }

  /* BOTTOM */
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    p {
      font-size: 0.8rem;
      color: v.$colorfechas;
      max-width: 900px;
    }
  }
}
