@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero {
    position: relative;
    width: 95.5%;
    height: fit-content;
    margin: 2rem;
    padding: 0.625rem;
    height: 80vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: v.$colorEnlaces;
    background: #000 center/cover no-repeat;
    transition: background-image 0.5s ease-in-out;

    /* Diseño responsivo */

    @include m.tablet {
        width: 89%;
        height: 50vh;
    }

    @include m.telefono {
        width: 78%;
        height: 50vh;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: left;
        padding: 2rem;

        /* Diseño responsivo */

        @include m.tablet {
            padding-bottom: 11rem;
        }

        .hero-content {
            max-width: 38rem;
            z-index: 2;

            /* Diseño responsivo */

            @include m.tablet {
                max-width: 50%;
            }

            h1 {
                font-size: 2.5rem;
                margin-bottom: 1rem;

                /* Diseño responsivo */

                @include m.tablet {
                    font-size: 2rem;
                }

                @include m.telefono {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1.5rem;

                /* Diseño responsivo */

                @include m.tablet {
                    font-size: 1rem;
                }

                @include m.telefono {
                    font-size: 0.9rem;
                }
            }

            .hero-buttons {
                display: flex;
                gap: 1rem;

                .btn {
                    background: #ffcc00;
                    border: none;
                    padding: 0.8rem 1.5rem;
                    border-radius: 30px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.3s;

                    /* Diseño responsivo */

                    @include m.tablet {
                        width: 50%;
                        height: 5vh;
                        font-size: 1rem;
                    }

                    @include m.telefono {
                        width: 50%;
                        height: 5vh;
                        font-size: 1rem;
                    }

                    &:hover {
                        background: #ffaa00;
                        transform: scale(1.05);
                    }
                }

                .btn-outline {
                    background: transparent;
                    border: 2px solid v.$colorEnlaces;
                    padding: 0.8rem 1.5rem;
                    border-radius: 30px;
                    font-weight: bold;
                    cursor: pointer;
                    color: v.$colorEnlaces;
                    transition: 0.3s;

                    /* Diseño responsivo */

                    @include m.tablet {
                        width: 50%;
                        height: 5vh;
                        font-size: 0.9rem;
                    }

                    @include m.telefono {
                        width: 50%;
                        height: 5vh;
                        font-size: 0.9rem;
                        padding: 0rem 1rem;
                    }

                    &:hover {
                        background: v.$colorEnlaces;
                        color: v.$fondoSecciones;
                    }
                }
            }
        }
    }

    .hero-cards {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        z-index: 5;

        .card {
            position: relative;
            width: 20%;
            height: 20vh;
            border-radius: 0.75rem;
            margin: 1rem;
            margin-bottom: 0rem;
            overflow: hidden;
            cursor: pointer;
            transition: transform 0.3s ease;

            /* Diseño responsivo */

            @include m.tablet {
                width: 30%;
                height: 15vh;
            }

            @include m.telefono {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.4s ease;
            }

            .overlay {
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.6);
                color: v.$colorEnlaces;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.4s ease;

                h3 {
                    margin: 0;
                    font-size: 1.1rem;
                    text-align: center;
                }

                .hint {
                    margin-top: 6px;
                    font-size: 0.9rem;
                    opacity: 0.8;
                }
            }

            &:hover {
                transform: scale(1.05);

                img {
                    transform: scale(1.2);
                }

                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}
