
@forward 'navbar';
@forward 'hero';
@forward 'television';
@forward 'catalogo';
@forward 'footer';
@forward 'noticias';
@forward 'descuento';
@forward 'categorias';
@forward 'preventas';
@forward 'modal';